<div class="container">


  <h1><strong><div class="title">Radio postaja </br> Mi samo sviramo</div></strong></h1>



  <strong><h3><div class="box">
    Trenutno svira: </br>
    <%= @data[1] %> - <%= @data[0] %><br><br>
    Sljedeće:<br>
    <%= @data[3] %> - <%= @data[2] %><br>

    <font size="2">copyright: <a target="_blank" style="text-decoration: underline;" href="http://www.bensound.com/">Bensound.com</a></font>
  </div> </h3></strong>

 
<div class="karla"><img src=http://www.deviantpics.com/images/2016/01/03/imageedit_2_8967658523.gif></div>
</div>
  <div class="footer">
  <h4> Radio postaja: <%= @naziv %></h4>
  <ul class="list-group">
  <li class="list-group-item">
    <span class="glyphicon glyphicon-user"></span>
    Vlasnik: <%= @vlasnik %>
  </li>
  <li class="list-group-item">
    <span class="glyphicon glyphicon-envelope"></span>
    E-mail: mss@mss.com
  </li>
  <li class="list-group-item">
    <span class="glyphicon glyphicon-phone-alt"></span>
    Tel:<%= @tel   %>
  </li>
  </ul>
Sva prava pridržana © Fakultet elektrotehnike i računarstva</div>
