<h3>Novi zapis:</h3>

<div class = "well">
  <%= form_for @track, url: {action: "create"}, html: { multipart: true } do |f| %>
  <table style="width:30%">
    <tr>
      <td><%= f.label :ime %></td>
      <td><%= f.text_field :name %></td>
    </tr>
    <tr>
      <td><%= f.label :autor %></td>
      <td><%= f.text_field :author %></td>
    </tr>
    <tr>
      <td><%= f.label :nakladnik %></td>
      <td><%= f.text_field :company %></td>
    </tr>
    <tr>
    <td><%= f.label :zanr, 'Žanr' %></td>
    <td><%= f.text_field :zanr %></td>
    </tr>
    <tr>
      <td><%= f.label :vrsta_nosaca, 'Vrsta nosača' %></td>
      <td><%= f.select :vrsta_nosaca, ['gramafonska ploča', 'magnetska vrpca', 'CD'] %></td>
    </tr>
    <tr>
    <td><%= f.label :godina_izdanja %></td>
    <td><%= f.select :godina_izdanja, (Time.zone.now.year - 100)..(Time.zone.now.year) %></td>
    </tr>
    <tr>
      <td><%= f.label :trajanje %></td>
      <td>
        <%= f.select :minute, 0..59 %>
        <%= f.label :minute, ' m ' %>
        <%= f.select :sekunde, 0..59 %>
        <%= f.label :sekunde, ' s ' %>
      </td>
    </tr>
    <tr>
      <td><%= f.label :format %></td>
      <td><%= f.select :format, ['mp3', 'waw'] %></td>
    </tr>
    <tr>
      <td><%= f.label :frekvencija %></td>
      <td><%= f.select :frekvencija, ['48 kHz', '44,1 kHz', '96 kHz'] %></td>
    </tr>
  </table>
  <br>
  <%= f.file_field :path %>
  <br>
  <%= f.submit "Spremi", class: "btn btn-primary" %>
  <% end %>
</div>

<%= link_to "Povratak na popis zapisa", { :controller => "tracks", :action => "index"} %>