<h4><span class="label label-default">Najtra탑eniji zapis</span></h4>
<br>

<h4><b>Tra탑eni period:</b></h4> <p> <strong>Od: </strong> <%= @date_start.strftime("%d-%m-%y") %> <p>
<strong>Do:</strong> <%= @date_end.strftime("%d-%m-%y") %><p>

<% if @key.nil? then %>
U ovom periodu nema zahtjeva na listama 탑elja.

<% else %>
Najtra탑eniji zapis u izabranom vremenskom periodu:

  <% @name = @key.author + " - " + @key.name %>
  <%= link_to @name, {:controller => "tracks", :action => "details", :track_id => @key.id} %> sa <%= @value %> zahtjeva.

<% end %>
<br><br><%= link_to "Povratak na izbornik", { :controller => "reports", :action => "show"},class:"btn btn-primary" %>